:root{
    --color-encabezado: #0388a63f;
    --color-fondo-texto: #0388a6b2;
    --color-degradado1: #01061B;
    --color-degradado2: #07034C;
    --color-borde-y-shadow: black;
    --color-texto: white;
    --estilo-borde-letras: orange;
    --color-letras-resaltadas: orange;
    --fondo-para-seccion-2y4: #0F0214;
}

html{
    height: 100%;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--fondo-para-seccion-2y4);
}

.primera-seccion{
    height: 100vh;
    background-image: url(../img/fondo1.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

/* SECCION DE ENCABEZADO*/
.encabezado{
    width: 100%;
    min-height: 30px;
    background-color: var(--color-encabezado);
    border: 1px var(--color-borde-y-shadow) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: black 0 0 5px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--color-texto);
}

.img-menu{
    display: flex;
    padding: 4px 0 0 0;
}

.imagen-menu{
    height: 40px;
    border-radius: 50%;
}

nav a{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.5vw;
}

nav a:hover{
    color: orange;
}

@media (max-width:700px){
    .encabezado{
        flex-direction: column;
    }
    nav a{
        padding-right: 10px;
        font-size: 3vw;
    }
}
/* TERMINA LA SECCION DE ENCABEZADO*/

/*INICIA LA SECCIÓN DE PRESENTACIÓN*/
.informacion-sobre-mi{
    min-height: 400px;
    display: flex;
}

.presentacion{
    color: var(--color-texto);
}

.saludo {
    color: var(--color-texto);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--estilo-borde-letras);
    background-color: var(--color-fondo-texto);
    border-radius: 10px;
    box-shadow: var(--color-borde-y-shadow) 0px 0px 20px 2px;
    box-sizing: border-box;
    text-align: right;
    font-size: 5vw;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 33%;
}

.saludo strong{
    -webkit-text-stroke-width: 0;
    color: var(--color-letras-resaltadas);
}

.mi-descripcion{
    background-color: var(--color-fondo-texto);
    text-align: justify;
    font-size: 3vh;
    box-shadow: var(--color-borde-y-shadow) 0px 0px 20px 2px;
    border-radius: 10px;
    padding: 30px;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
}

@media (max-width:700px){
    .informacion-sobre-mi{
        flex-direction: column;
    }

    .mi-descripcion{
        font-size: 3vh;
    }

}

@media (max-width:479px){
    .mi-descripcion{
        font-size: 2.5vh;
    }

}
/*TERMINA LA SECCIÓN DE PRESENTACIÓN*/

/*INICIA LA SECCIÓN DE BOTONES Y DE PROYECTOS*/
.segunda-seccion{
    background-color: var(--fondo-para-seccion-2y4);
    background-size: cover;
    height: 100vh;
    margin-top: 5%;
}

.botones{
    display: flex;
    justify-content: center;
}

.botones > button{
    background-color: var(--color-fondo-texto);
    margin-left: 5%;
    margin-right: 5%;
    font-size: 25px;
    color: var(--color-texto);
    border-radius: 15px;
    box-shadow: var(--estilo-borde-letras) 2px 2px;
    transition: 0.5s;
}

button:hover{
    background-color: var(--color-borde-y-shadow);
    color: var(--estilo-borde-letras);
    transform: scale(1.1);
}

@media (max-width:700px){ 
    .botones{
        flex-direction: column;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
/*TERMINA LA SECCIÓN DE BOTONTES Y LA SECCIÓN DE PROYECTOS CONTINUA EN EL ARCHIVO CSS SECCIONMISPROYECTOS*/

/* INICIA LA GALERIA SECCION 3*/
.tercera-seccion{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url(../img/fondo3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.tercera-seccion img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .6;
    transition: .5s ease;
}

.tercera-seccion img:hover{
    cursor: zoom-in;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.habilidades{
    width: 15%;
}


.habilidades p{
    font-size: 5vw;
    margin-top: 290px;
    color: var(--color-letras-resaltadas);
    text-shadow: 0 0 10px var(--color-letras-resaltadas),0 0 10px var(--color-letras-resaltadas), 0 0 10px var(--color-letras-resaltadas);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.596);
    text-align: center;
    -webkit-transform: rotate(-90deg);
}

/* TERMINA LA GALERIA SECCION 3*/

/* INICIA LA SECCION 4 */
.cuarta-seccion{
    height: 100vh;
    background-color: #0F0214;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuarta-seccion p:nth-child(1){
    font-size: 3.5vw;
    color: var(--color-letras-resaltadas);
}

.cuarta-seccion p:nth-child(2){
    text-align: center;
    font-size: 2vw;
    color: var(--color-letras-resaltadas);
}
/* TERMINA LA SECCION 4 */

/*LA ÚLTIMA PARTE DE LA PAGINA SE ENCUENTRA EN EL ARCHIVO REDES.CSS */
