.contenedor-proy-1, .contenedor-proy-2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    height: 200px;
}

.proyectos::after{
    content: "ATT";
    grid-area: img;
    width: 138px;
    height: 144px;
    background-color: rgba(187, 132, 14, 0.548);
    border-radius: 30px;
    color: white;
    display: grid;
    place-items: center;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -145px;
    clip-path: circle(0 at top right);
    transition: clip-path .4s;
}

.img{
    display: grid;
    grid-template: 1fr/1fr;
    grid-template-areas: "img";
    width: 138px;
    height: 144px;
    object-fit: cover;
    grid-area: img;
    border: var(--color-letras-resaltadas) 1px solid;
    border-radius: 30px;
    box-shadow: var(--estilo-borde-letras) 0px 0px 30px 5px;
    transition: .3s;
}
.img:hover{
    transform: scale(1.1);
    
}

.proyectos:hover::after{
    clip-path: circle(150% at top right);
}

/* SEGUNDO PROYECTO */
.proyectos-2::after{
    content: "Páginas Web";
    grid-area: img;
    width: 138px;
    height: 144px;
    background-color: rgba(187, 132, 14, 0.548);
    border-radius: 30px;
    color: white;
    display: grid;
    place-items: center;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -145px;
    clip-path: circle(0 at top right);
    transition: clip-path .4s;
}

.proyectos-2:hover::after{
    clip-path: circle(150% at top right);
}

.proyectos-2 .img{
    object-fit: cover;
    grid-area: img;
    width: 138px;
    height: 144px;
    border: var(--color-letras-resaltadas) 1px solid;
    border-radius: 30px;
    box-shadow: var(--estilo-borde-letras) 0px 0px 30px 5px;
    transition: .3s;
}
.proyectos-2 .img:hover{
    transform: scale(1.1);
    
}

/* TERCER PROYECTO */
.proyectos-3::after{
    content: "Sitios Web";
    grid-area: img;
    width: 138px;
    height: 144px;
    background-color: rgba(187, 132, 14, 0.548);
    border-radius: 30px;
    color: white;
    display: grid;
    place-items: center;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -145px;
    clip-path: circle(0 at top right);
    transition: clip-path .4s;
}

.proyectos-3:hover::after{
    clip-path: circle(150% at top right);
}

.proyectos-3 .img{
    object-fit: cover;
    grid-area: img;
    width: 138px;
    height: 144px;
    border: var(--color-letras-resaltadas) 1px solid;
    border-radius: 30px;
    box-shadow: var(--estilo-borde-letras) 0px 0px 30px 5px;
    transition: .3s;
}
.proyectos-3 .img:hover{
    transform: scale(1.1);
    
}

/* CUARTO PROYECTO */
.proyectos-4::after{
    content: "Proyectos Git";
    grid-area: img;
    width: 138px;
    height: 144px;
    background-color: rgba(187, 132, 14, 0.548);
    border-radius: 30px;
    color: white;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -145px;
    clip-path: circle(0 at top right);
    transition: clip-path .4s;
}

.proyectos-4:hover::after{
    clip-path: circle(150% at top right);
}

.proyectos-4 .img{
    object-fit: cover;
    grid-area: img;
    width: 138px;
    height: 144px;
    border: var(--color-letras-resaltadas) 1px solid;
    border-radius: 30px;
    box-shadow: var(--estilo-borde-letras) 0px 0px 30px 5px;
    transition: .3s;
}
.proyectos-4 .img:hover{
    transform: scale(1.1);
    
}

/* QUINTO PROYECTO */
.proyectos-5::after{
    content: "Landing Page";
    grid-area: img;
    width: 138px;
    height: 144px;
    background-color: rgba(187, 132, 14, 0.548);
    border-radius: 30px;
    color: white;
    display: grid;
    place-items: center;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -145px;
    clip-path: circle(0 at top right);
    transition: clip-path .4s;
}

.proyectos-5:hover::after{
    clip-path: circle(150% at top right);
}

.proyectos-5 .img{
    object-fit: cover;
    grid-area: img;
    width: 138px;
    height: 144px;
    border: var(--color-letras-resaltadas) 1px solid;
    border-radius: 30px;
    box-shadow: var(--estilo-borde-letras) 0px 0px 30px 5px;
    transition: .3s;
}
.proyectos-5 .img:hover{
    transform: scale(1.1);
    
}

/* SEXTO PROYECTO */
.proyectos-6::after{
    content: "Sistema de Ventas";
    grid-area: img;
    width: 138px;
    height: 144px;
    background-color: rgba(187, 132, 14, 0.548);
    border-radius: 30px;
    color: white;
    display: grid;
    place-items: center;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -145px;
    clip-path: circle(0 at top right);
    transition: clip-path .4s;
}

.proyectos-6:hover::after{
    clip-path: circle(150% at top right);
}

.proyectos-6 .img{
    object-fit: cover;
    grid-area: img;
    width: 138px;
    height: 144px;
    border: var(--color-letras-resaltadas) 1px solid;
    border-radius: 30px;
    box-shadow: var(--estilo-borde-letras) 0px 0px 30px 5px;
    transition: .3s;
}
.proyectos-6 .img:hover{
    transform: scale(1.1);
    
}

/* SEPTIMO PROYECTO */
.proyectos-7::after{
    content: "RED";
    grid-area: img;
    width: 138px;
    height: 144px;
    background-color: rgba(187, 132, 14, 0.548);
    border-radius: 30px;
    color: white;
    display: grid;
    place-items: center;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -145px;
    clip-path: circle(0 at top right);
    transition: clip-path .4s;
}

.proyectos-7:hover::after{
    clip-path: circle(150% at top right);
}

.proyectos-7 .img{
    object-fit: cover;
    grid-area: img;
    width: 138px;
    height: 144px;
    border: var(--color-letras-resaltadas) 1px solid;
    border-radius: 30px;
    box-shadow: var(--estilo-borde-letras) 0px 0px 30px 5px;
    transition: .3s;
}
.proyectos-7 .img:hover{
    transform: scale(1.1);
    
}

/* OCTAVO PROYECTO */
.proyectos-8::after{
    content: "Navegador";
    grid-area: img;
    width: 138px;
    height: 144px;
    background-color: rgba(187, 132, 14, 0.548);
    border-radius: 30px;
    color: white;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -145px;
    clip-path: circle(0 at top right);
    transition: clip-path .4s;
}

.proyectos-8:hover::after{
    clip-path: circle(150% at top right);
}

.proyectos-8 .img{
    object-fit: cover;
    grid-area: img;
    width: 138px;
    height: 144px;
    border: var(--color-letras-resaltadas) 1px solid;
    border-radius: 30px;
    box-shadow: var(--estilo-borde-letras) 0px 0px 30px 5px;
    transition: .3s;
}
.proyectos-8 .img:hover{
    transform: scale(1.1);
    
}


@media only screen and (max-width: 500px) {
    .contenedor-proy-1{
        margin-top: 20%;
    }

    .contenedor-proy-2{
        margin-top: 1;
    }

    .proyectos::after{
        width: 70px;
        height: 70px;
        top: -71px;
    }

    .proyectos .img{
        width: 70px;
        height: 70px;
    }

    .proyectos-2::after{
        width: 70px;
        height: 70px;
        top: -71px;
        font-size: 1rem;
    }

    .proyectos-2 .img{
        width: 70px;
        height: 70px;
    }

    .proyectos-3::after{
        width: 70px;
        height: 70px;
        top: -71px;
        font-size: 1rem;
    }

    .proyectos-3 .img{
        width: 70px;
        height: 70px;
    }

    .proyectos-4::after{
        width: 70px;
        height: 70px;
        top: -71px;
        font-size: 1rem;
    }

    .proyectos-4 .img{
        width: 70px;
        height: 70px;
    }

    .proyectos-5::after{
        width: 70px;
        height: 70px;
        top: -71px;
        font-size: 1rem;
    }

    .proyectos-5 .img{
        width: 70px;
        height: 70px;
    }

    .proyectos-6::after{
        width: 70px;
        height: 70px;
        top: -71px;
        font-size: 1rem;
    }

    .proyectos-6 .img{
        width: 70px;
        height: 70px;
    }

    .proyectos-7::after{
        width: 70px;
        height: 70px;
        top: -71px;
        font-size: 1rem;
    }

    .proyectos-7 .img{
        width: 70px;
        height: 70px;
    }

    .proyectos-8::after{
        width: 70px;
        height: 70px;
        top: -71px;
        font-size: 1rem;
    }

    .proyectos-8 .img{
        width: 70px;
        height: 70px;
    }
}